body
{
    background-image: url("imgs/pgulpqku4br81.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.enemies
{
    width: 150px;
}

.painel
{
    position: absolute;
    width: 100px;
    padding: 10px;
    bottom: 0px;
    opacity: 0.5; 
    left: 0;
}

.lifes
{   
    display: flex;
    padding: 5px;
    overflow: auto;   
}

.time
{
    display: flex;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.time span 
{
    margin-right: 5px; 
}


.btn-pixelart 
{
    font-family: "OCR A Std, monospace";
    background-color: #4833a8; 
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    cursor: pointer; 
    outline: none; 
    border-radius: 0;
    box-shadow: none; 
    font-size: bold;
}

.btn-pixelart:hover 
{
    background-color: #4527a0; 
}

#game_over_page
{
    background-image: url("imgs/lost.gif");
    background-repeat: no-repeat;
    padding: 28rem;
    background-position: center;
    background-size: contain;
    background-color: black;

}

#win_page
{
    background-image: url("imgs/you_win.gif");
    background-repeat: no-repeat;
    padding: 28rem;
    background-position: center;
    background-size: cover;
    background-color: black;
    overflow: hidden;
    background-position: center center;

}

#index_page
{
    background-image: url("imgs/index_image.png");
    background-repeat: no-repeat;
    padding: 28rem;
    background-position: center;
    background-size: cover;
    background-color: black;

}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgb(243, 173, 81); /* Define a sombra inicial */
    }
    50% {
        text-shadow: 0 0 20px #e67f0b; /* Define a sombra intermediária */
    }
    100% {
        text-shadow: 0 0 10px #6b3b04; /* Define a sombra final */
    }
}

.title-index 
{
    font-size: 4rem; 
    color: #f0d4bd; 
    text-align: center; 
    animation: glow 1.5s infinite;
    font-family: "Luminari, fantasy";
    font-weight: bold;
}

.title-win 
{
    font-size: 6rem; 
    color: #ece90a; 
    text-align: center; 
    animation: glow 1.5s infinite;
    font-family: "Luminari, fantasy";
    font-weight: bold;
}

.title-game-over
{
    font-size: 6rem; 
    color: #ec2c0a; 
    text-align: center; 
    animation: glow 1.5s infinite;
    font-family: "Luminari, fantasy";
    font-weight: bold;
}

#difficulty-checkbox
{
    font-size: 30px;
    font-weight: bold;
    color: #b3831c;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}


